<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="login-form">
              <h2>Accede a tu cuenta</h2>
              <form action="/auth" method="POST">
                <input type="text" name="user" id="user" class="form-control" placeholder="User">
                <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">
                <input type="submit" class="btn btn-primary btn-login" value="Login">
              </form>
              <a href="/register" class="btn btn-link btn-register">Regístrate</a>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert  != 'undefined') { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle  %>',
          text: '<%= alertMessage  %>',
          icon: '<%= alertIcon  %>',
          showConfirmButton: <%= showConfirmButton  %>,
          timer: <%= timer  %>
        }).then(()=>{
          window.location = '<%= ruta  %>';
        })
        
      </script>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>